<nav>
    <ul>
      <li><button (click)="moveWithArrow('left')"><img class="fleche" src="https://key0.cc/images/small/74191_169bd450bdd15834ce92df7ce9284852.png" alt="fleche droite" height="7%" width="7%"></button></li>
      <li *ngFor="let element of navElement "><button (click)="changeElementVisibility(element)">{{element.getId()}}</button></li>
      <li><button (click)="moveWithArrow('right')"><img class="fleche" src="https://key0.cc/images/small/74191_169bd450bdd15834ce92df7ce9284852.png" alt="fleche droite" height="7%" width="7%"></button></li>
    </ul>
</nav>
